# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\praticeProject\nacos-spring-boot-example-master\ssd\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
